<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node website</title>
</head>
<body>
    <h1>Hello DevOps CoE <%= 5*5 %></h1>
    <script>
        alert('This page is Confidential DevOps CoE')
    </script>
</body>
</html>